.TravelNotes-ColorDialog-ColorDiv {
	width: 22.5em;
	text-align: center;
}

.TravelNotes-ColorDialog-RowColorDiv:last-child {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.TravelNotes-ColorDialog-CellColorDiv {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-style: solid;
	border-width: 0.1em;
	margin-top: 0;
	margin-left: 0.1em;
	margin-right: 0.1em;
	margin-bottom: 0;
}

.TravelNotes-ColorDialog-NumberInput {
	width: 3em;
	margin: 0.5em;
}

#TravelNotes-ColorDialog-ColorSampleDiv {
	width: 5em;
	height: 3em;
	display: inline-block;
	border-style: solid;
	border-width: 0.1em;
}
