/*
Copyright - 2017 - wwwouaiebe - Contact: http//www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
--- NoteDialog.css file -----------------------------------------------------------------------------------------------

This file contains:
	- the css for the NoteDialog
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface

-----------------------------------------------------------------------------------------------------------------------
*/

#TravelNotes-NoteDialog-MainDataDiv {
	width: 43em;
}

#TravelNotes-NoteDialog-ToolbarDiv {
	max-width: 39em;
}

#TravelNotes-NoteDialog-IconSelect {
	margin-right: 0.2em;
}

#TravelNotes-NoteDialog-OpenEditorFileDiv {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#TravelNotes-NoteDialog-OpenEditorFileInput {
	opacity: 0;
	position: relative;
	width: 0;
	height: 0;
}

#TravelNotes-NoteDialog-OpenEditorFileFakeDiv {
	display: inline;
}

#TravelNotes-NoteDialog-OpenEditorFileButton {
	border-color: white;
	background-color: white;
	border-style: solid;
	border-width: 0.1em;
	height: 2em;
	margin-right: 0.2em;
}

#TravelNotes-NoteDialog-OpenEditorFileButton:hover {
	border-color: black;
}

.TravelNotes-NoteDialog-EditorButton {
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	background-color: lightgray;
	margin-right: 0.2em;
	display: inline;
	height: 2em;
	margin-bottom: 0.2em;
}

.TravelNotes-NoteDialog-DataDiv,
.TravelNotes-NoteDialog-TitleDiv {
	margin-top: 0.5em;
}

.TravelNotes-NoteDialog-TextArea {
	width: 39em;
}

.TravelNotes-NoteDialog-InputText {
	width: 38em;
}

.TravelNotes-NoteDialog-NumberInput {
	margin-right: 0.5em;
	width: 3em;
}
