.TravelNotes-PrintRouteMapDialog-NumberInput
{
	width : 4em;
}
.TravelNotes-PrintRouteMapDialog-DataDiv
{
	margin:0.5em;
}
.TravelNotes-PrintRouteMapDialog-NumberInput
{
	margin-left: 0.3em;
	margin-right: 0.3em;
}