html > body > div#Map	
{
	background-color : gray;
	position: absolute;	
	width: 70%; 
	height: 100vh; 
	top: 0px; 
	right: 0px;
	overflow: hidden;
}

html > body > div#LeafletTravelControl	
{
	position: absolute;	
	width: 30%; 
	height: 100vh;
	top: 0px; 
	left: 0px;
}

