/*
Copyright - 2017 - wwwouaiebe - Contact: http//www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
--- DataPanesUI.css file ----------------------------------------------------------------------------------------------

This file contains:
	- the css for the DataPanesUI
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface

-----------------------------------------------------------------------------------------------------------------------
*/

/* --- Pane buttons --- */

#TravelNotes-DataPanesUI-DataPanesDiv {
	margin-left: 0.5em;
	margin-bottom: auto;
	max-height: none;
	overflow: auto;
	flex-grow: 2;
}

.TravelNotes-DataPaneUI-PaneButton {
	border-style: solid;
	border-top-width: 0.3em;
	border-right-width: 0.1em;
	border-bottom-width: 0.1em;
	border-left-width: 0.3em;
	border-color: gray;
	background-color: lightgray;
	margin-left: 0.1em;
}

.TravelNotes-DataPaneUI-ActivePaneButton {
	background-color: white;
	border-bottom-color: white;
}

.TravelNotes-UI-Route-ManeuversAndNotes {
	border-spacing: 0.4em 0.2em;
}

.TravelNotes-UI-Route-Maneuvers-Row,
.TravelNotes-UI-Travel-Notes-Row,
.TravelNotes-UI-Route-Notes-Row {
	display: flex;
	flex-direction: row;
}

.TravelNotes-UI-Travel-Notes-Cell,
.TravelNotes-UI-Route-ManeuversAndNotes-Cell {
	padding: 0.3em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: lightgray;
	flex-shrink: 1;
}

.TravelNotes-UI-Travel-Notes-IconCell,
.TravelNotes-UI-Route-ManeuversAndNotes-IconCell {
	width: 40px;
	height: 40px;
	min-height: 20px;
	background-repeat: no-repeat;
	flex-shrink: 0;
}
