#TravelNotes-MouseControl
{
	position: absolute;
	top: 0px;
	left: 30em;
	z-index: 1200;
	text-align:center;
	width: calc(100% - 60em);
}


@media screen and (min-width: 1px) and (max-width: 640px)
{
	#TravelNotes-MouseControl
	{
		left: 3em;
		width: 0;
		text-align: left;
		visibility: hidden;
	}
}
@media screen and (min-width: 641px) and (max-width: 1024px)
{
	#TravelNotes-MouseControl
	{
		left: 3em;
		width: calc(100% - 33em);
		text-align: left;
	}
}

#TravelNotes-MouseControl > span
{
	padding: 0.3em;
	background-color: white;
	opacity: 0.5;
}

.TravelNotes-PrintViews #TravelNotes-MouseControl
{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	top:0;
	left:0;
	visibility: hidden;
}