/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file OsmSearchPaneUI.css
@desc CSS for the OsmSearchPaneUI
Changes:
	- v1.0.0:
		- created

@------------------------------------------------------------------------------------------------------------------------------
*/

#TravelNotes-OsmSearchPaneUI-SearchButton {
	margin-right: 0.3em;
}

#TravelNotes-OsmSearchPaneUI-SearchTree {
	max-height: 15em;
	overflow: auto;
}

.TravelNotes-OsmSearchPaneUI-SearchItemMargin1 {
	margin-left: 0.5em;
}

.TravelNotes-OsmSearchPaneUI-SearchItemMargin2 {
	margin-left: 0.5em;
}

.TravelNotes-OsmSearchPaneUI-SearchItemMargin3 {
	margin-left: 2.5em;
}

.TravelNotes-OsmSearchPaneUI-SearchItemMargin4 {
	margin-left: 4.5em;
}

.TravelNotes-OsmSearchPaneUI-TreeArrow {
	color: gray;
}

.TravelNotes-OsmSearchPaneUI-TreeArrow:hover {
	color: red;
	border-color: white;
}

.TravelNotes-OsmSearchPaneUI-SearchResult-Row {
	display: flex;
	flex-direction: row;
	padding: 0.3em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: lightgray;
}

.TravelNotes-OsmSearchPaneUI-SearchResult-IconCell {
	width: 40px;
	height: 40px;
	min-height: 20px;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

.TravelNotes-OsmSearchPaneUI-SearchResult-Cell {
	flex-shrink: 1;
}

/*
--- End of OsmSearchPaneUI.css ------------------------------------------------------------------------------------------------
*/
