/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file PanesManagerUI.css
@desc CSS for the PanesManagerUI
Changes:
	- v1.0.0:
		- created

@------------------------------------------------------------------------------------------------------------------------------
*/

#TravelNotes-PanesManagerUI-PaneControlsDiv {
	margin-left: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}

#TravelNotes-PanesManagerUI-PaneDataDiv {
	margin-left: 0.5em;
	margin-bottom: auto;
	max-height: none;
	overflow: auto;
	flex-grow: 2;
}

.TravelNotes-PanesManagerUI-PaneButton {
	border-style: solid;
	border-top-width: 0.3em;
	border-right-width: 0.1em;
	border-bottom-width: 0.1em;
	border-left-width: 0.3em;
	border-color: gray;
	background-color: lightgray;
	margin-left: 0.1em;
}

.TravelNotes-PanesManagerUI-ActivePaneButton {
	background-color: white;
	border-bottom-color: white;
}

/*
--- End of PanesManagerUI.css -------------------------------------------------------------------------------------------------
*/
