/*
Copyright - 2017 2020 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
--- SearchPaneUI.css file ---------------------------------------------------------------------------------------------

This file contains:
	- the css for the SearchPaneUI
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface

-----------------------------------------------------------------------------------------------------------------------
*/

#TravelNotes-SearchPaneUI-SearchDiv {
	margin-top: 0.5em;
}

#TravelNotes-SearchPaneUI-SearchInput {
	height: 1.4em;
	width: calc(100% - 3em);
	margin: 0;
	padding: 0;
}

#TravelNotes-SearchPaneUI-SearchButton {
	margin-right: 0.3em;
}

.TravelNotes-SearchPaneUI-SearchResult {
	line-height: 1.2em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	margin: 0.3em;
}

.TravelNotes-SearchPaneUI-SearchResult > p {
	margin: 0;
	padding: 0;
}

.TravelNotes-SearchPaneUI-SearchResult > p:first-child {
	text-decoration: underline;
}

.TravelNotes-SearchPaneUI-SearchResult:hover {
	background-color: lightgray;
}

#TravelNotes-SearchPaneUI-SearchWait {
	margin: 1em;
	height: 1em;
	width: calc(100% - 2em);
	overflow: hidden;
}

#TravelNotes-SearchPaneUI-SearchWaitBullet {
	background-color: red;
	height: 100%;
	width: 1em;
	animation: 2s linear 0s infinite alternate searchBullet;
}

@keyframes searchBullet {
	from { margin-left: 0%; }
	to { margin-left: calc(100% - 1em); }
}
