/*
Copyright - 2017 - wwwouaiebe - Contact: http//www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

.TravelNotes-SortableList-Container {
	display: table;
	width: 100%;
	margin-bottom: 1em;
	border-collapse: separate;
	border-spacing: 0.2em 0.2em;
}

.TravelNotes-SortableList-Item {
	display: table-row;
	width: 100%;
	white-space: nowrap;
	margin-left: 0;
	padding-left: 0;
	text-align: center;
}

.TravelNotes-SortableList-ItemTextIndex {
	display: table-cell;
	width: 2em;
}

.TravelNotes-SortableList-ItemInput {
	width: 100%;
	margin-right: 1em;
	min-width: 5em;
	display: table-cell;
	height: 1.8em;
}

.TravelNotes-SortableList-ItemDeleteButton,
.TravelNotes-SortableList-ItemUpArrowButton,
.TravelNotes-SortableList-ItemDownArrowButton,
.TravelNotes-SortableList-ItemRightArrowButton {
	display: table-cell;
	width: 2em;
	text-align: center;
	cursor: default;
	font-weight: bold;
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
}

.TravelNotes-SortableList-ItemDeleteButton:hover,
.TravelNotes-SortableList-ItemUpArrowButton:hover,
.TravelNotes-SortableList-ItemDownArrowButton:hover,
.TravelNotes-SortableList-ItemRightArrowButton:hover {
	border-color: black;
}

.TravelNotes-SortableList-ItemDeleteButton:hover {
	color: red;
}

div.TravelNotes-SortableList-Container > div.TravelNotes-SortableList-Item:first-child > div.TravelNotes-SortableList-ItemUpArrowButton,
div.TravelNotes-SortableList-Container > div.TravelNotes-SortableList-Item:last-child > div.TravelNotes-SortableList-ItemDownArrowButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item:first-child > div.TravelNotes-SortableList-ItemDownArrowButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item:last-child > div.TravelNotes-SortableList-ItemUpArrowButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item:nth-child(2) > div.TravelNotes-SortableList-ItemUpArrowButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item:nth-last-child(2) > div.TravelNotes-SortableList-ItemDownArrowButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item:first-child > div.TravelNotes-SortableList-ItemDeleteButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item:last-child > div.TravelNotes-SortableList-ItemDeleteButton,
div.TravelNotes-SortableList-Container.LimitedSort > div.TravelNotes-SortableList-Item > div.TravelNotes-SortableList-ItemRightArrowButton {
	visibility: hidden;
}

.TravelNotes-SortableList-MoveCursor {
	cursor: grab;
}

.TravelNotes-SortableList-MoveCursor:active {
	cursor: move;
}
