/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file TravelUI.css
@desc CSS for the TravelUI
Changes:
	- v1.0.0:
		- created

@------------------------------------------------------------------------------------------------------------------------------
*/


/* --- Travel name --- */

#TravelNotes-TravelUI-InputTravelName {
	width: 100%;
}

.TravelNotes-TravelUI-SaveAsButton {
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" > <path d="M 1,1 L 19,1 19,16 1,16 1,1 z" fill="rgb(255,0,0)" /> </svg>');
	background-position: center;
}

/* --- ExpandRouteList button --- */

.TravelNotes-TravelUI-RouteList-ExpandButton {
	padding-right: 0.5em;
	color: lightgray;
}

.TravelNotes-TravelUI-RouteList-ExpandButton:hover {
	cursor: default;
	color: red;
}

/* --- open file input --- */

.TravelNotes-TravelUI-OpenFileInput {
	opacity: 0;
	position: relative;
	width: 0;
}

/*
--- End of TravelUI.css -------------------------------------------------------------------------------------------------------
*/
