/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
--- Roadbook.css file -------------------------------------------------------------------------------------------------

This file contains:
	- the css for the Roadbook
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface
	- v2.0.0:
		- Issue #138 : Protect the app - control html entries done by user.

-----------------------------------------------------------------------------------------------------------------------
*/

#TravelNotes-GoTop > a {
	color: black;
	text-decoration: none;
}

.TravelNotes-Roadbook-Travel {
	margin-top: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	font-family: sans-serif;
	line-height: 1.5em;
}

.TravelNotes-Roadbook-Travel-Header {
	border-style: solid;
	border-width: 0.1em;
	padding: 1em;
}

.TravelNotes-Roadbook-Travel-Header-Name {
	font-size: 156%;
	font-weight: bold;
	margin-bottom: 1em;
}

.TravelNotes-Roadbook-Travel-Header-TravelDistance {
	margin-top: 1em;
}

.TravelNotes-Roadbook-Travel-Notes,
.TravelNotes-Roadbook-Route-ManeuversAndNotes {
	margin-top: 1em;
	margin-bottom: 2em;
}

.TravelNotes-Roadbook-Travel-Notes-Row,
.TravelNotes-Roadbook-Route-Maneuvers-Row,
.TravelNotes-Roadbook-Route-Notes-Row {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
}

.TravelNotes-Roadbook-Travel-Notes-IconCell,
.TravelNotes-Roadbook-Route-ManeuversAndNotes-IconCell {
	background-repeat: no-repeat;
	min-width: 40px;
	min-height: 40px;
	vertical-align: top;
	flex-shrink: 0;
}

.TravelNotes-Roadbook-Travel-Notes-Cell,
.TravelNotes-Roadbook-Route-ManeuversAndNotes-Cell {
	padding-left: 0.5em;
	flex-shrink: 2;
}

.TravelNotes-Roadbook-Hidden-Row,
.TravelNotes-Roadbook-Hidden-Row > .TravelNotes-Roadbook-Travel-Notes-IconCell,
.TravelNotes-Roadbook-Hidden-Row > .TravelNotes-Roadbook-Route-ManeuversAndNotes-IconCell,
.TravelNotes-Roadbook-Hidden-Row > .TravelNotes-Roadbook-Travel-Notes-Cell,
.TravelNotes-Roadbook-Hidden-Row > .TravelNotes-Roadbook-Route-ManeuversAndNotes-Cell {
	visibility: hidden;
	min-width: 0;
	min-height: 0;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border-bottom-style: none;
	border-bottom-width: 0;
}

.TravelNotes-Roadbook-Route-Header {
	border-style: solid;
	border-width: 0.1em;
	padding: 1em;
}

.TravelNotes-Roadbook-Route-Header-Name {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 1em;
}

.TravelNotes-NoteHtml-Address-City {
	text-decoration: underline;
}

.TravelNotes-Roadbook-RouteFooter {
	padding-bottom: 2em;
}

.TravelNotes-Roadbook-TravelFooter {
	border-top-style: solid;
	border-top-width: 0.1em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#TravelNotes-Menu {
	position: fixed;
	top: 1em;
	left: 1em;
	background-color: white;
}

@media screen and (max-width: 70em) {
	.TravelNotes-Roadbook-Travel {
		padding-top: 3.5em;
	}

	#TravelNotes-Menu {
		padding: 0.5em;
		border-style: solid;
		border-width: 1px;
		margin-left: 0.5em;
	}

	#TravelNotes-Menu > div {
		display: inline-block;
	}
}

@media screen and (min-width: 70em) {
	.TravelNotes-Roadbook-Travel {
		width: 50em;
		margin-left: calc(50% - 50em / 2);
		margin-right: calc(50% - 50em / 2);
	}
}

@media print {
	#TravelNotes-Menu,
	.TravelNotes-Roadbook-NoteHtml-Url {
		visibility: hidden;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		border-width: 0;
		border-style: none;
	}

	.TravelNotes-Roadbook-Route-Header {
		page-break-before: always;
	}

	.TravelNotes-Roadbook-Travel-Notes-Row,
	.TravelNotes-Roadbook-Route-Maneuvers-Row,
	.TravelNotes-Roadbook-Route-Notes-Row {
		page-break-inside: avoid;
	}
}
