/*
Copyright - 2017 - wwwouaiebe - Contact: http//www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the 
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

.TravelNotes-BaseDialog-BackgroundDiv
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1200;
}
.TravelNotes-BaseDialog-BackgroundDiv:hover
{
	cursor: not-allowed;
}

.TravelNotes-BaseDialog-Container
{
	z-index: 1200;
	position: absolute;
	background-color: white;
	border-style: solid;
	border-width: 0.1em;
	font-family : sans-serif;
	font-size: 1em;
	cursor:default;
	display : flex;
	flex-direction : column;
	flex-wrap: nowrap;
	max-height : 90vh;
}

.TravelNotes-BaseDialog-TopBar
{
	background-color : lightgray;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}
.TravelNotes-BaseDialog-TopBar:hover
{
	background-color: darkred;
}
.TravelNotes-BaseDialog-TopBar:hover,
.TravelNotes-BaseDialog-TopBar:active
{
	cursor: grab;
}
#TravelNotes-BaseDialog-CancelButton
{
	background-color : white;
	width: 1em;
}
#TravelNotes-BaseDialog-CancelButton:hover
{
	color:red;
}
.TravelNotes-BaseDialog-HeaderDiv
{
	text-align: center;
	font-weight: bold;
	padding: 0.5em;
}
.TravelNotes-BaseDialog-ContentDiv
{
	border-top-style : solid;
	border-bottom-style : solid;
	border-color: lightgray;
	border-width : 0.1em;
	padding: 0.5em;	
	flex-grow: 1;
	overflow: auto;
}
.TravelNotes-BaseDialog-FooterDiv
{
	padding: 0.5em;
}
.TravelNotes-BaseDialog-Button
{
	width: 2em;
	border-style : solid;
	border-width : 0.1em;
	border-color : white;
	text-align: center;	
}
.TravelNotes-BaseDialog-Button:hover
{
	border-color: black;
}
.TravelNotes-BaseDialog-ErrorDiv
{
	padding: 0.5em;
	background-color: red;
	color: white;
}
.TravelNotes-BaseDialog-ErrorDivHidden
{
	visibility: hidden;
	height : 0;
	padding: 0;
	margin: 0;
}