/*
Copyright - 2017 - Christian Guyette - Contact: http//www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the 
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/* --- Main settings --- */

#TravelNotes-Control-MainDiv
{
	height: 100vh;
	max-height : 100vh;
	font-family : sans-serif;
	font-size: 1em;
	margin: 0;
}
#TravelNotes-Control-MainDiv-Title
{
	text-align:center;
	font-size: 1em;
	font-weight: bold;
	color: white;
	background-color: black;
	padding: 0.5em;
	margin:0;
}

/* --- flex column --- */

#TravelNotes-Control-MainDiv
{
	display: flex;
	flex-direction: column;
}
#TravelNotes-Control-MainDiv > #TravelNotes-Control-RouteDataDiv,
#TravelNotes-Control-MainDiv > #TravelNotes-Control-TravelDataDiv
{
	flex-shrink: 0;
	max-height: 7em;
	overflow: auto;
}
#TravelNotes-Control-MainDiv > #TravelNotes-Control-ItineraryDataDiv
{
	margin-bottom: auto;
}
#TravelNotes-Control-MainDiv > #TravelNotes-Control-ErrorDataDiv
{
	flex-shrink: 0;
	max-height: 7em;
	overflow: auto;
}
/* --- flex row ---*/


#TravelNotes-Control-MainDiv > div.TravelNotes-Control-HeaderDiv,
#TravelNotes-Control-MainDiv > div.TravelNotes-Control-ButtonsDiv
{
	display: flex;
	flex-direction: row;
}

#TravelNotes-Control-PinButton,
#TravelNotes-Control-ReverseWayPointsButton,
#TravelNotes-Control-AddRoutesButton
{
	margin-left: auto;
}

/* --- buttons ---*/

.TravelNotes-Control-Button
{
	font-weight: bold;
	display: inline-block;
	width: 2em;
	text-align : center;
	cursor: default;
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
}
.TravelNotes-Control-Button:hover
{
	border-color: black;
}
.TravelNotes-Control-ExpandButton
{
	padding-right: 0.5em;
	color: lightgray;
}
.TravelNotes-Control-ExpandButton:hover
{
	cursor: default;
	color:red;
}

#TravelNotes-Control-CancelTravelButton:hover,
#TravelNotes-Control-RemoveAllWayPointsButton:hover,
#TravelNotes-Control-CancelRouteButton:hover,
#TravelNotes-Control-PinButton:hover,
#TravelNotes-Control-ErrorExpandButton:hover
{
	color: red;
}

#TravelNotes-Control-ItineraryButtonsDiv
{
	padding-top: 0.5em;
	border-style: solid;
	border-width: 0.1em;
	border-color: lightgray;
}
.TravelNotes-Control-ImgButton
{
	padding: 0.1em;
	margin: 0.1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
}
.TravelNotes-Control-ActiveProviderImgButton,
.TravelNotes-Control-ActiveTransitModeImgButton
{
	border-color: black;
}
.TravelNotes-Control-InactiveTransitModeImgButton
{
	visibility: hidden;
}
#TravelNotes-Control-OpenTravelInput
{
	opacity: 0;
	position: relative;
	width: 0em;
}
#TravelNotes-Control-OpenTravelFakeDiv
{
	display: inline;
}
/* --- End buttons */

/* --- overload for maximized control --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize
{
	width: 30em;
	background-color: white;
}

		/* --- title --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div#TravelNotes-Control-MainDiv-Title
{
	margin:0;
	padding : 0;
	height: 0;
	width: 0;
	visibility: hidden;
}

		/* --- padding left and padding-right --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-HeaderDiv,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-DataDiv,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-ButtonsDiv
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
		/* --- padding-top --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-HeaderDiv,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-DataDiv,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div#TravelNotes-Control-ErrorDataDiv
{
	padding-top: 0.5em;
}

		/* --- padding-bottom --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > #TravelNotes-Control-ErrorDataDiv,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > #TravelNotes-Control-ErrorHeaderDiv,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-ButtonsDiv
{
	padding-bottom: 0.5em;
}

		/* --- border-bottom --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-ButtonsDiv
{
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: lightgray;
}
		/* --- max-height overload for expanded list --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > #TravelNotes-Control-RouteDataDiv.TravelNotes-Control-ExpandedList,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > #TravelNotes-Control-TravelDataDiv.TravelNotes-Control-ExpandedList
{
	max-height: 40%;
}

		/* padding-top and bottom overload for small headers --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-SmallHeader
{
	padding-top: 0;
	padding-bottom: 0;
}
		/* --- overload for hidden lists --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-DataDiv.TravelNotes-Control-HiddenList,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div.TravelNotes-Control-ButtonsDiv.TravelNotes-Control-HiddenList,
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > div#TravelNotes-Control-ErrorDataDiv.TravelNotes-Control-HiddenList
{
	visibility: hidden;
	height: 0;
	width: 25em;
	margin: 0;
	padding: 0;
}
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Maximize > #TravelNotes-Control-ItineraryButtonsDiv.TravelNotes-Control-HiddenList >img.TravelNotes-Control-ImgButton
{
	padding: 0;
	margin: 0;
	border-style: none;
	border-width: 0;
}
/* --- overload for minimized control --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Minimize
{
	height: 3em;
	width: 9em;
	background-color: transparent;
}
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Minimize > div
{
	margin:0;
	padding : 0;
	height: 0;
	width: 0;
	visibility: hidden;
}
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Minimize > div#TravelNotes-Control-MainDiv-Title
{
	transform-origin: bottom right;
	transform: rotateZ(-90deg) translateY(1em) translateX(3em);
	padding-top : 0.5em;
	height: 3em;
	width: 8em;
	visibility: visible;
}

/* --- overload for hidden control --- */

#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Hidden
{
	visibility: hidden;
	margin:0;
	padding : 0;
	height: 0;
	width: 30em;
}#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Hidden > div
{
	visibility: hidden;
	margin:0;
	padding : 0;
	height: 0;
	width: 0;
}
#TravelNotes-Control-MainDiv.TravelNotes-Control-MainDiv-Hidden > #TravelNotes-Control-ItineraryButtonsDiv >img.TravelNotes-Control-ImgButton
{
	padding: 0;
	margin: 0;
	border-style: none;
	border-width: 0;
}
/* --- Itinerary --- */

#TravelNotes-Control-ItineraryDiv
{
	overflow: auto;
}
#TravelNotes-Control-ItineraryDataDiv
{
	max-height: none;
	overflow: auto;
}
.TravelNotes-Control-Route-ManeuversAndNotes
{
	display: table;
	border-spacing: 0.4em 0.2em;
}
.TravelNotes-Control-Route-Maneuvers-Row,
.TravelNotes-Control-Route-Notes-Row
{
	display: table-row;
}
.TravelNotes-Control-Travel-Notes-Cell,
.TravelNotes-Control-Route-ManeuversAndNotes-Cell
{
	display: table-cell;
	padding: 0.3em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: lightgray;
}
.TravelNotes-Control-Travel-Notes-IconCell,
.TravelNotes-Control-Route-ManeuversAndNotes-IconCell
{
	display: table-cell;
	width: 40px;
	height: 40px;
	min-height: 20px;
	background-repeat: no-repeat;
}

/* --- special texts --- */

.TravelNotes-Control-HeaderText
{
	font-weight: bold;
}
.TravelNotes-Control-Error
{
	color: red;
	font-weight: bold;
}




