/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
--- Notes.css file ----------------------------------------------------------------------------------------------------

This file contains:
	- the css for the notes
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface
	- v2.0.0:
		- Issue #138 : Protect the app - control html entries done by user.

-----------------------------------------------------------------------------------------------------------------------
*/

/* notes popup */
.TravelNotes-NoteHtml-TooltipContent {
	font-weight: bold;
}

.TravelNotes-NoteHtml-LatLng > span,
.TravelNotes-NoteHtml-Address > span:first-child,
.TravelNotes-NoteHtml-Phone > span:first-child,
.TravelNotes-NoteHtml-Url > span:first-child,
.TravelNotes-NoteHtml-Distance > span:first-child,
.TravelNotes-NoteHtml-NextDistance > span:first-child,
.TravelNotes-NoteHtml-Address-City {
	text-decoration: underline;
}

.TravelNotes-MapNote {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}

.TravelNotes-SvgIcon {
	border-style: solid;
	border-color: black;
	border-width: 0.1em;
}

.TravelNotes-MapNote-Background {
	background-color: white;
}

.TravelNotes-ManeuverNote {
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.TravelNotes-AllNotes {
	background: transparent;
	height: auto;
}

.TravelNotes-Note-Bullet {
	background-color: black;
}

.TravelNotes-Note-WhiteRed {
	color: white;
	background-color: red;
}

.TravelNotes-Note-WhiteGreen {
	color: white;
	background-color: green;
}

.TravelNotes-Note-WhiteBlue {
	color: white;
	background-color: blue;
}

.TravelNotes-Note-WhiteBrown {
	color: white;
	background-color: brown;
}

.TravelNotes-Note-WhiteBlack {
	color: white;
	background-color: black;
}

.TravelNotes-Note-BlackWhite {
	color: black;
	background-color: white;
	border: solid 0.1em;
}

.TravelNotes-Note-BlackOrange {
	color: black;
	background-color: orange;
}

svg.TravelNotes-Note-Knooppunt {
	background-color: white;
}

.TravelNotes-Note-Knooppunt > text {
	fill: green;
	font: bold 120px sans-serif;
}

.TravelNotes-Note-Knooppunt > polyline {
	fill: none;
	stroke: green;
	stroke-width: 10;
}
