/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file NotesForUI.css
@desc CSS for Notes in the UI
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface
	- v2.0.0:
		- Issue #138 : Protect the app - control html entries done by user.

@------------------------------------------------------------------------------------------------------------------------------
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

Notes in the UI

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-ItineraryPaneUI-NoteHtml-TooltipContent {
	font-weight: bold;
}
/* stylelint-disable no-descending-specificity */
.TravelNotes-ItineraryPaneUI-NoteHtml-LatLng > span,
/* stylelint-enable no-descending-specificity */
.TravelNotes-ItineraryPaneUI-NoteHtml-Address > span:first-child,
.TravelNotes-ItineraryPaneUI-NoteHtml-Phone > span:first-child,
.TravelNotes-ItineraryPaneUI-NoteHtml-Url > span:first-child,
.TravelNotes-ItineraryPaneUI-NoteHtml-Distance > span:first-child,
.TravelNotes-ItineraryPaneUI-NoteHtml-NextDistance > span:first-child,
.TravelNotes-ItineraryPaneUI-NoteHtml-Address-City {
	text-decoration: underline;
}

.TravelNotes-TravelNotesPaneUI-NoteHtml-TooltipContent {
	font-weight: bold;
}

.TravelNotes-TravelNotesPaneUI-NoteHtml-LatLng > span,
.TravelNotes-TravelNotesPaneUI-NoteHtml-Address > span:first-child,
.TravelNotes-TravelNotesPaneUI-NoteHtml-Phone > span:first-child,
.TravelNotes-TravelNotesPaneUI-NoteHtml-Url > span:first-child,
.TravelNotes-TravelNotesPaneUI-NoteHtml-Distance > span:first-child,
.TravelNotes-TravelNotesPaneUI-NoteHtml-NextDistance > span:first-child,
.TravelNotes-TravelNotesPaneUI-NoteHtml-Address-City {
	text-decoration: underline;
}

/*
--- End of NotesForUI.css -----------------------------------------------------------------------------------------------------
*/
