/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file NotesForMap.css
@desc CSS for Notes on the map
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface
	- v2.0.0:
		- Issue #138 : Protect the app - control html entries done by user.

@------------------------------------------------------------------------------------------------------------------------------
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

Notes popup on the map

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Map-NoteHtml-TooltipContent {
	font-weight: bold;
}

.TravelNotes-Map-NoteHtml-LatLng > span,
.TravelNotes-Map-NoteHtml-Address > span:first-child,
.TravelNotes-Map-NoteHtml-Phone > span:first-child,
.TravelNotes-Map-NoteHtml-Url > span:first-child,
.TravelNotes-Map-NoteHtml-Distance > span:first-child,
.TravelNotes-Map-NoteHtml-NextDistance > span:first-child,
.TravelNotes-Map-NoteHtml-Address-City {
	text-decoration: underline;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.TravelNotes-Map-AllNotes ( the .TravelNotes-Map-AllNotes class is added to the L.divIcon when created )

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Map-AllNotes {
	background: transparent;
	height: auto;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.TravelNotes-Map-Note-Background ( This class is added to the 73 predefined notes and svgIcons when a background is asked )

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Map-Note-Background {
	background-color: white;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.TravelNotes-Map-Note-Bullet ( This class is added to the bullet of the note )

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Map-Note-Bullet {
	background-color: black;
}

/*
--- End of NotesForMap.css ----------------------------------------------------------------------------------------------------
*/
