/*
Copyright - 2017 - Christian Guyette - Contact: http//www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the 
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/
#TravelNotes-Menu
{
	position: fixed;
	top: 1em;
	left: 1em;
}
#TravelNotes-GoTop > a
{
	color: black;
	text-decoration: none;
}

.TravelNotes-MapNote
{
	background-repeat : no-repeat;
	height: 40px;
	width: 40px;
    display: inline-block;
	vertical-align: top;
}

.TravelNotes-Roadbook-Travel
{
	margin-top: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	font-family: sans-serif;
	line-height: 1.5em;
}
.TravelNotes-Roadbook-Travel-Header
{
	border-style: solid;
	border-width: 0.1em;
	padding: 1em;
}
.TravelNotes-Roadbook-Travel-Header-Name
{
	font-size: 156%;
	font-weight: bold;
	margin-bottom: 1em;
}
.TravelNotes-Roadbook-Travel-Header-RouteName
{
}
.TravelNotes-Roadbook-Travel-Header-TravelDistance
{
	margin-top:1em;
}
.TravelNotes-Roadbook-Travel-Notes,
.TravelNotes-Roadbook-Route-ManeuversAndNotes
{
	margin-top: 1em;
	margin-bottom: 2em;
}
.TravelNotes-Roadbook-Travel-Notes-Row,
.TravelNotes-Roadbook-Route-Maneuvers-Row,
.TravelNotes-Roadbook-Route-Notes-Row,
{
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.TravelNotes-Roadbook-Hidden-Row
{
	visibility: hidden;
	height: 0;
	width: 0;
}
.TravelNotes-Roadbook-Travel-Notes-IconCell,
.TravelNotes-Roadbook-Travel-Notes-Cell,
.TravelNotes-Roadbook-Route-ManeuversAndNotes-IconCell,
.TravelNotes-Roadbook-Route-ManeuversAndNotes-Cell

{
	display: inline-block;
}
.TravelNotes-Roadbook-Travel-Notes-IconCell,
.TravelNotes-Roadbook-Route-ManeuversAndNotes-IconCell
{
	background-repeat : no-repeat;
	height: 40px;
	width: 40px;
    display: inline-block;
	vertical-align: top;	
}
.TravelNotes-Roadbook-Travel-Notes-Cell,
.TravelNotes-Roadbook-Route-ManeuversAndNotes-Cell
{
	width: calc(100% - 40px - 0.5em);
	padding-left: 0.5em;
}
.TravelNotes-Roadbook-Route-Header
{
	border-style: solid;
	border-width: 0.1em;
	padding: 1em;
}
.TravelNotes-Roadbook-Route-Header-Name
{
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 1em;
}
.TravelNotes-Roadbook-Route-Header-Distance
{
}
.TravelNotes-Roadbook-Route-Header-Duration
{
}
.TravelNotes-Roadbook-RouteFooter
{
	padding-bottom: 2em;
}
.TravelNotes-Roadbook-TravelFooter
{
	border-top-style: solid;
	border-top-width: 0.1em;
	padding-top: 2em;
	padding-bottom: 2em
}
@media screen and (min-width: 1025px)
{
	.TravelNotes-Roadbook-Travel
	{
		width: 50em;
		margin-left: calc(50% - 50em / 2);
		margin-right: calc(50% - 50em / 2);
	}
}