/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file RoutesForMap.css
@desc CSS for Routes on the Map
Changes:
	- v1.0.0:
		- created

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Map-Route-Header-Name {
	font-weight: bold;
}

.TravelNotes-Map-Route-Header-Distance > span,
.TravelNotes-Map-Route-Header-Ascent > span,
.TravelNotes-Map-Route-Header-Descent > span,
.TravelNotes-Map-Route-Header-Duration > span {
	text-decoration: underline;
}

/*
--- End of RoutesForMap.css ---------------------------------------------------------------------------------------------------
*/
