/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file RoutesForRoadbook.css
@desc CSS for Routes on the Roadbook
Changes:
	- v1.0.0:
		- created

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Roadbook-Route-Header {
	border-style: solid;
	border-width: 0.1em;
	padding: 1em;
}

.TravelNotes-Roadbook-Route-Header-Name {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 1em;
}

.TravelNotes-Roadbook-Route-Header-Distance > span,
.TravelNotes-Roadbook-Route-Header-Ascent > span,
.TravelNotes-Roadbook-Route-Header-Descent > span,
.TravelNotes-Roadbook-Route-Header-Duration > span {
	text-decoration: underline;
}

.TravelNotes-Roadbook-RouteFooter {
	padding-bottom: 2em;
}

/*
--- End of RoutesForRoadbook.css -------------------------------------------------------------------------------------------------
*/
