/*
Copyright - 2017 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
@------------------------------------------------------------------------------------------------------------------------------

@file WayPointsForMap.css
@desc CSS for the waypoints
Changes:
	- v1.12.0:
		- Issue #120 : Review the UserInterface

@------------------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-Map-WayPointStyle {
	background: transparent;
	height: auto;
}

.TravelNotes-Map-WayPoint {
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	vertical-align: top;
}

.TravelNotes-Map-WayPointStart {
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <g fill="rgb(0,192,0)"> <path d="M 0,0 l9,9 v10 l1,1 l1,-1 v-10 l9,-9 h-18 z"/> </g> </svg>');
}

.TravelNotes-Map-WayPointVia {
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <g fill="rgb(192,128,0)"> <path d="M 0,0 l9,9 v10 l1,1 l1,-1 v-10 l9,-9 h-18 z"/> </g> </svg>');
}

.TravelNotes-Map-WayPointEnd {
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <g fill="rgb(192,0,0)"> <path d="M 0,0 l9,9 v10 l1,1 l1,-1 v-10 l9,-9 h-18 z"/> </g> </svg>');
}

.TravelNotes-Map-WayPointTmp {
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <g fill="rgb(128,128,128)"> <path d="M 0,0 l9,9 v10 l1,1 l1,-1 v-10 l9,-9 h-18 z"/> </g> </svg>');
}

.TravelNotes-Map-WayPointText {
	width: 20px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

/*
--- End of WayPointsForMap.css ------------------------------------------------------------------------------------------------
*/
